{{#basic-dropdown
  classNames=(readonly classNames)
  horizontalPosition=(readonly horizontalPosition)
  calculatePosition=calculatePosition
  destination=(readonly destination)
  initiallyOpened=(readonly initiallyOpened)
  matchTriggerWidth=(readonly matchTriggerWidth)
  preventScroll=(readonly preventScroll)
  onClose=(action "onClose")
  onOpen=(action "onOpen")
  registerAPI=(action "registerAPI")
  renderInPlace=(readonly renderInPlace)
  verticalPosition=(readonly verticalPosition)
  disabled=(readonly disabled)
  as |dropdown|}}

  {{#trigger 
    select=(readonly publicAPI)
    multiSelect=multiSelect
    searchEnabled=searchEnabled
    allowClear=allowClear
    labelText=labelText
  }}
  {{#dropdown.trigger
    role=(if multiSelect null (readonly triggerRole))
    tagName=(readonly _triggerTagName)
    ariaDescribedBy=(readonly ariaDescribedBy)
    ariaInvalid=(readonly ariaInvalid)
    ariaLabel=(readonly ariaLabel)
    ariaLabelledBy=(if (and labelText (not multiSelect)) ariaLabelledById (readonly ariaLabelledBy))
    ariaRequired=(readonly required)
    title=(readonly title)
    class=(readonly concatenatedTriggerClasses)
    extra=(readonly extra)
    id=(readonly triggerId)
    eventType=(or eventType "mousedown")
    onKeyDown=(action "onTriggerKeydown")
    onFocus=(action "onTriggerFocus")
    onBlur=(action "onTriggerBlur")
    tabindex=(readonly tabindex)
    aria-haspopup=(if (or multiSelect searchEnabled) "true" "listbox")
    aria-expanded=(if dropdown.isOpen "true" "false")
  }}
    {{#component triggerComponent
      allowClear=(readonly allowClear)
      buildSelection=(readonly buildSelection)
      extra=(readonly extra)
      listboxId=(readonly optionsId)
      loadingMessage=(readonly loadingMessage)
      onFocus=(action "onFocus")
      onBlur=(action "onBlur")
      onInput=(action "onInput")
      placeholder=getPlaceholder
      placeholderComponent=(readonly placeholderComponent)
      onKeydown=(action "onKeydown")
      searchEnabled=(readonly searchEnabled)
      searchField=(readonly searchField)
      select=(readonly publicAPI)
      selectedItemComponent=(readonly selectedItemComponent)
      ariaActivedescendant=ariaActivedescendant
      ariaLabel=(readonly ariaLabel)
      ariaLabelledBy=(readonly ariaLabelledBy)
      ariaDescribedBy=(readonly ariaDescribedBy)
      ariaLabelForSelectedList=ariaLabelForSelectedList
      labelText=labelText
      dropdown=dropdown
      as |opt term|}}
      {{yield opt term}}
    {{/component}}
  {{/dropdown.trigger}}
  {{/trigger}}
  {{#dropdown.content _contentTagName=_contentTagName class=(readonly concatenatedDropdownClasses)}}
    {{component beforeOptionsComponent
      animationEnabled=(readonly animationEnabled)
      extra=(readonly extra)
      listboxId=(readonly optionsId)
      onInput=(action "onInput")
      onKeydown=(action "onKeydown")
      searchEnabled=(readonly searchEnabled)
      onFocus=(action "onFocus")
      onBlur=(action "onBlur")
      placeholder=getPlaceholder
      placeholderComponent=(readonly placeholderComponent)
      searchPlaceholder=(readonly searchPlaceholder)
      select=(readonly publicAPI)
      ariaActivedescendant=ariaActivedescendant
      dropdown=dropdown
      ariaLabelledBy=(readonly ariaLabelledBy)
      selectedItemComponent=(readonly selectedItemComponent)}}
    {{#if mustShowSearchMessage}}
      {{component searchMessageComponent
        searchMessage=(readonly searchMessage)
        optionsId=optionsId
        select=(readonly publicAPI)
      }}
    {{else if mustShowNoMessages}}
      {{#if (hasBlock "inverse")}}
        {{yield to="inverse"}}
      {{else if noMatchesMessage}}
        <ul class="ember-power-select-options" role="listbox" id={{optionsId}}>
          <li aria-live="assertive" class="ember-power-select-option ember-power-select-option--no-matches-message" role="option">
            {{noMatchesMessage}}
          </li>
        </ul>
      {{/if}}
    {{else}}
      {{#component optionsComponent
        class="ember-power-select-options"
        extra=(readonly extra)
        groupIndex=""
        loadingMessage=(readonly loadingMessage)
        id=(readonly optionsId)
        options=(readonly publicAPI.results)
        optionsComponent=(readonly optionsComponent)
        highlightOnHover=(readonly highlightOnHover)
        groupComponent=(readonly groupComponent)
        select=(readonly publicAPI)

        renderInVC=shouldRenderInVC
        bufferSizeVC=(readonly bufferSizeVC)
        staticHeightVC=(readonly staticHeightVC)
        estimateHeightVC=(readonly estimateHeightVC)

        multiSelect=(or multiSelect false)
        searchEnabled=(readonly searchEnabled)
        ariaLabelForList=ariaLabelForList

        as |option term|}}
        {{yield option term}}
      {{/component}}
    {{/if}}
    {{component afterOptionsComponent select=(readonly publicAPI) extra=(readonly extra)}}
  {{/dropdown.content}}
{{/basic-dropdown}}