{{#basic-dropdown
  classNames=(readonly classNames)
  horizontalPosition=(readonly horizontalPosition)
  calculatePosition=calculatePosition
  destination=(readonly destination)
  initiallyOpened=(readonly initiallyOpened)
  matchTriggerWidth=(readonly matchTriggerWidth)
  preventScroll=(readonly preventScroll)
  onClose=(action "onClose")
  onOpen=(action "onOpen")
  registerAPI=(action "registerAPI")
  renderInPlace=(readonly renderInPlace)
  verticalPosition=(readonly verticalPosition)
  disabled=(readonly disabled)
  as |dropdown|}}

  {{#trigger 
    select=(readonly publicAPI)
    multiSelect=multiSelect
    searchEnabled=searchEnabled
    allowClear=allowClear
    labelText=labelText
    search=search
    clearMessage=(or clearLabel clearMessage)
    removeOptionMessage=(or removeLabel removeOptionMessage)
    ariaLabel=(readonly ariaLabel)
    allowNull=allowNull
  }}
  {{#dropdown.trigger
    role=(or (if (and hasSIC dropdown.isOpen) "group" triggerRole) null)
    tagName=(readonly _triggerTagName)
    ariaDescribedBy=(if (or multiSelect canInlineSearch) undefined computedAriaDescribedBy)
    ariaInvalid=(readonly ariaInvalid)
    ariaLabel=(if labelText null (or ariaLabel null))
    ariaLabelledBy=(if (or multiSelect canInlineSearch) undefined (if labelText ariaLabelledById (or ariaLabelledBy null)))
    ariaRequired=(readonly required)
    title=(readonly title)
    class=(readonly concatenatedTriggerClasses)
    extra=(readonly extra)
    id=(readonly triggerId)
    eventType=(or eventType "mousedown")
    onKeyDown=(action "onTriggerKeydown")
    onFocus=(action "onTriggerFocus")
    onBlur=(action "onTriggerBlur")
    tabindex=(readonly computedTabIndex)
    aria-haspopup=popUpType
    data-expanded=(if dropdown.isOpen "true" "false")
    aria-expanded=(if (or multiSelect canInlineSearch) null (if dropdown.isOpen "true" "false"))
    allowClear=(readonly allowClear)
    aria-activedescendant=(if (or multiSelect canInlineSearch) undefined ariaActivedescendant)
  }}
    {{#component triggerComponent
      allowClear=(readonly allowClear)
      allowRenderLikeSIC=allowRenderLikeSIC
      ariaLabelledById=ariaLabelledById
      buildSelection=(readonly buildSelection)
      extra=(readonly extra)
      listboxId=(readonly optionsId)
      loadingMessage=(readonly loadingMessage)
      onFocus=(action "onFocus")
      onBlur=(action "onBlur")
      onInput=(action "onInput")
      placeholder=getPlaceholder
      placeholderComponent=(readonly placeholderComponent)
      onKeydown=(action "onKeydown")
      searchEnabled=(readonly searchEnabled)
      searchField=(readonly searchField)
      select=(readonly publicAPI)
      searchValue=searchValue
      selectedItemComponent=(readonly selectedItemComponent)
      ariaActivedescendant=ariaActivedescendant
      ariaLabel=(readonly ariaLabel)
      ariaLabelledBy=(readonly ariaLabelledBy)
      ariaDescribedBy=(readonly computedAriaDescribedBy)
      labelText=labelText
      errorId=errorId
      dropdown=dropdown
      allowNull=allowNull
      allowNullLabel=allowNullLabel
      statusIcon=statusIcon
      search=search
      animationEnabled=(readonly animationEnabled)
      searchPlaceholder=(readonly searchPlaceholder)
      allowCreateOnBlur=allowCreateOnBlur
      removeOptionMessage=(or removeLabel removeOptionMessage)
      hasSIC=hasSIC
      as |opt term|}}
      {{yield opt term}}
    {{/component}}
  {{/dropdown.trigger}}
  {{/trigger}}
  {{#dropdown.content _contentTagName=_contentTagName class=(readonly concatenatedDropdownClasses)}}
    {{component beforeOptionsComponent
      animationEnabled=(readonly animationEnabled)
      extra=(readonly extra)
      listboxId=(readonly optionsId)
      onInput=(action "onInput")
      onKeydown=(action "onKeydown")
      searchEnabled=(readonly searchEnabled)
      onFocus=(action "onFocus")
      onBlur=(action "onBlur")
      placeholder=getPlaceholder
      placeholderComponent=(readonly placeholderComponent)
      searchPlaceholder=(readonly searchPlaceholder)
      select=(readonly publicAPI)
      ariaActivedescendant=ariaActivedescendant
      dropdown=dropdown
      ariaLabelledBy=(readonly ariaLabelledBy)
      selectedItemComponent=(readonly selectedItemComponent)}}
    {{#if mustShowSearchMessage}}
      {{component searchMessageComponent
        searchMessage=(readonly searchMessage)
        hasSIC=hasSIC
        optionsId=optionsId
        select=(readonly publicAPI)
      }}
    {{else if mustShowNoMessages}}
      {{#if (hasBlock "inverse")}}
        {{yield to="inverse"}}
      {{else if (and noMatchesMessage (not allowCreateOnBlur))}}
        <ul class="ember-power-select-options" role="listbox" id={{optionsId}}>
          <li aria-live="assertive" class="ember-power-select-option ember-power-select-option--no-matches-message" role="option">
            {{noMatchesMessage}}
          </li>
        </ul>
      {{/if}}
    {{else}}
      {{#component optionsComponent
        class="ember-power-select-options"
        extra=(readonly extra)
        groupIndex=""
        loadingMessage=(readonly loadingMessage)
        id=(readonly optionsId)
        options=(readonly publicAPI.results)
        optionsComponent=(readonly optionsComponent)
        highlightOnHover=(readonly highlightOnHover)
        groupComponent=(readonly groupComponent)
        select=(readonly publicAPI)
        labelText=labelText
        renderInVC=shouldRenderInVC
        bufferSizeVC=(readonly bufferSizeVC)
        staticHeightVC=(readonly staticHeightVC)
        estimateHeightVC=(readonly estimateHeightVC)
        multiSelect=(or multiSelect false)
        searchEnabled=(readonly searchEnabled)
        allowNull=allowNull
        ariaLabel=(readonly ariaLabel)
        allowNullLabel=allowNullLabel
        search=search
        as |option term|}}
        {{yield option term}}
      {{/component}}
    {{/if}}
    {{component afterOptionsComponent select=(readonly publicAPI) extra=(readonly extra)}}
  {{/dropdown.content}}
{{/basic-dropdown}}