<ul
  aria-label={{or labelText ariaLabel}}
  id="ember-power-select-multiple-options-{{select.uniqueId}}" 
  class="ember-power-select-multiple-options">
  {{#each select.selected as |opt idx|}}
    <li data-selected-index={{idx}} class="ember-power-select-multiple-option {{if opt.disabled "ember-power-select-multiple-option--disabled"}}">
      {{#if selectedItemComponent}}
        {{component selectedItemComponent searchEnabled=true extra=(readonly extra) option=(readonly opt) select=(readonly select)}}
      {{else}}
        {{yield opt select}}
      {{/if}}
      {{#unless select.disabled }}
        <button
          onkeydown={{action "removeOption"}}
          type="button"
          aria-label="{{concat removeOptionMessage " " (if searchField (get opt searchField) opt)}}"
          class="ember-power-select-multiple-remove-btn"
          data-selected-index={{idx}}>
          {{svg-jar "cross" class="ember-svg size-18" role="presentation"}}
        </button>
      {{/unless}}
    </li>
  {{/each}}
</ul>

<input 
  type="search" 
  class="ember-power-select-trigger-multiple-input"
  autocomplete="off" 
  autocorrect="off" 
  autocapitalize="off" 
  spellcheck="false"
  data-id="ember-power-select-trigger-multiple-input-{{select.uniqueId}}"
  id={{if fieldId fieldId null}}
  value={{select.searchText}}
  aria-controls={{listboxId}}
  aria-autocomplete={{if allowCreateOnBlur "both" "list"}}
  aria-activedescendant={{ariaActivedescendant}}
  aria-expanded={{if dropdown.isOpen "true" "false"}}
  aria-label={{if (and labelText (not fieldId)) null (or ariaLabel null)}}
  aria-describedby={{ariaDescribedBy}}
  aria-labelledby={{if (and labelText (not fieldId)) ariaLabelledById (or ariaLabelledBy null)}}
  aria-required={{if ariaRequired "true" null}}
  role="combobox"
  style={{triggerMultipleInputStyle}}
  placeholder={{or maybePlaceholder null}}
  disabled={{select.disabled}}
  oninput={{action "onInput"}}
  onfocus={{onFocus}}
  onblur={{onBlur}}
  tabindex={{tabindex}}
  onkeydown={{action "onKeydown"}}>

{{#if (and labelText (not fieldId))}}
  <span id={{ariaLabelledById}} class="screen-reader-only" aria-hidden="true">
    {{labelText}}
  </span>
{{/if}}