<ul
  aria-label={{labelText}}
  id="ember-power-select-multiple-options-{{select.uniqueId}}" 
  class="ember-power-select-multiple-options">
  {{#each select.selected as |opt idx|}}
    <li data-selected-index={{idx}} class="ember-power-select-multiple-option {{if opt.disabled "ember-power-select-multiple-option--disabled"}}">
      {{#if selectedItemComponent}}
        {{component selectedItemComponent extra=(readonly extra) option=(readonly opt) select=(readonly select)}}
      {{else}}
        {{yield opt select}}
      {{/if}}
      {{#unless select.disabled }}
        <button
          onkeydown={{action "removeOption"}}
          type="button"
          aria-label="Remove {{if searchField (get opt searchField) opt}}"
          class="ember-power-select-multiple-remove-btn"
          data-selected-index={{idx}}>
          {{svg-jar "cross" class="ember-svg size-18" role="presentation"}}
        </button>
      {{/unless}}
    </li>
  {{/each}}
</ul>

<input 
  type="text" 
  class="ember-power-select-trigger-multiple-input"
  autocomplete="off" 
  autocorrect="off" 
  autocapitalize="off" 
  spellcheck="false"
  id="ember-power-select-trigger-multiple-input-{{select.uniqueId}}"
  value={{select.searchText}}
  aria-controls={{listboxId}}
  aria-autocomplete={{if allowCreateOnBlur "both" "list"}}
  aria-activedescendant={{ariaActivedescendant}}
  aria-expanded={{if dropdown.isOpen "true" "false"}}
  aria-labelledby={{if labelText null (concat "ember-power-select-trigger-multiple-label-" select.uniqueId)}}
  aria-label={{labelText}}
  aria-describedby={{concat errorId " " (concat "ember-power-select-multiple-options-" select.uniqueId)}}
  role="combobox"
  style={{triggerMultipleInputStyle}}
  placeholder={{or maybePlaceholder null}}
  disabled={{select.disabled}}
  oninput={{action "onInput"}}
  onfocus={{onFocus}}
  onblur={{onBlur}}
  tabindex={{tabindex}}
  onkeydown={{action "onKeydown"}}>

{{#if (not labelText)}}
  <span id="ember-power-select-trigger-multiple-label-{{select.uniqueId}}" class="screen-reader-only" aria-hidden="true">{{labelText}}</span>
{{/if}}