<input 
  type="text" 
  class="ember-power-select-search-input ember-power-select-search-input-trigger"
  autocomplete="off" 
  autocorrect="off" 
  autocapitalize="off" 
  spellcheck="false"
  id="ember-power-select-search-input-trigger-{{select.uniqueId}}"
  value={{searchValue}}
  aria-owns={{listboxId}}
  aria-autocomplete="list"
  placeholder={{or searchPlaceholder null}}
  autofocus
  aria-activedescendant={{ariaActivedescendant}}
  aria-label={{if labelText labelText null}}
  aria-labelledby={{if labelText (concat "ember-power-select-trigger-single-label-" select.uniqueId) null}}
  role="combobox"
  disabled={{select.disabled}}
  oninput={{onInput}}
  onfocus={{onFocus}}
  onblur={{onBlur}}
  tabindex={{tabindex}}>

{{#if labelText}}
  <span id="ember-power-select-trigger-single-label-{{select.uniqueId}}" class="screen-reader-only" aria-hidden="true">{{labelText}}</span>
{{/if}}