{{#if select.selected}}
  {{#if selectedItemComponent}}
    {{component selectedItemComponent extra=(readonly extra) option=(readonly select.selected) select=(readonly select)}}
  {{else}}
    <span class="ember-power-select-selected-item">{{yield select.selected select}}</span>
  {{/if}}
{{else}}
  {{component placeholderComponent placeholder=placeholder}}
{{/if}}

{{#if labelText}}
  <span id="ember-power-select-trigger-label-{{select.uniqueId}}" class="screen-reader-only" aria-hidden="true">
    {{#if select.selected}}
      {{concat labelText ", selected " (if searchField (get select.selected searchField) select.selected)}}
    {{else}}
      {{labelText}}
    {{/if}}
  </span>
{{/if}}

<span class="ember-power-select-status-icon" role="presentation"></span>