{{#if (and select.isOpen searchEnabled)}}
  {{#component "power-select/search-input"
    searchValue=searchValue
    searchEnabled=searchEnabled
    listboxId=listboxId
    ariaActivedescendant=ariaActivedescendant
    labelText=labelText
    select=select
    errorId=errorId
    onInput=onInput
    onFocus=onFocus
    onBlur=onBlur
    tabindex=tabindex}}
  {{/component}}
{{else}}
  {{#if select.selected}}
    {{#if selectedItemComponent}}
      {{component selectedItemComponent extra=(readonly extra) option=(readonly select.selected) select=(readonly select)}}
    {{else}}
      <span class="ember-power-select-selected-item {{if allowClear "has-clear" ""}}">{{yield select.selected select}}</span>
    {{/if}}
  {{else}}
    {{#if (and allowNull (not search))}}
      <span class="ember-power-select-placeholder">{{allowNullLabel}}</span>
    {{else}}
      {{component placeholderComponent placeholder=placeholder}}
    {{/if}}
  {{/if}} 
{{/if}}

{{#if labelText}}
  <span id="ember-power-select-trigger-single-label-{{select.uniqueId}}" class="screen-reader-only" aria-hidden="true">{{labelText}}</span>
{{/if}}
<span class="ember-power-select-status-icon"></span>