{{#if select.selected}}
  {{#if selectedItemComponent}}
    {{component selectedItemComponent extra=(readonly extra) option=(readonly select.selected) select=(readonly select)}}
  {{else}}
    <span class="ember-power-select-selected-item">{{yield select.selected select}}</span>
  {{/if}}
{{else}}
  {{component placeholderComponent placeholder=placeholder}}
{{/if}}

{{#if labelText}}
  <span aria-hidden="true" id="ember-power-select-trigger-label-{{select.uniqueId}}" style="display:none;">{{labelText}}</span>
{{/if}}

<span class="ember-power-select-status-icon" role="presentation"></span>