{{#if (or (and searchEnabled (not selectedItemComponent)) (and select.isOpen searchEnabled selectedItemComponent))}}
  {{#component "power-select/search-input"
    searchValue=searchValue
    searchEnabled=searchEnabled
    listboxId=listboxId
    allowCreateOnBlur=allowCreateOnBlur
    dropdown=dropdown
    ariaActivedescendant=ariaActivedescendant
    searchPlaceholder=searchPlaceholder
    labelText=labelText
    select=select
    errorId=errorId
    onInput=onInput
    onFocus=onFocus
    onBlur=onBlur
    hasSIC=hasSIC
    ariaDescribedBy=ariaDescribedBy
    selectedItemComponent=selectedItemComponent
    tabindex=tabindex}}
  {{/component}}

  {{#if (and select.selected (not selectedItemComponent))}}
    <span class="ember-power-select-selected-item screen-reader-only">
      {{if searchField (get select.selected searchField) select.selected}}
    </span>
  {{/if}}
{{else}}
  {{#if select.selected}}
    {{#if selectedItemComponent}}
      {{component selectedItemComponent searchEnabled=searchEnabled extra=(readonly extra) option=(readonly select.selected) select=(readonly select)}}
    {{else}}
      <span aria-hidden={{if searchEnabled undefined "true"}} class="ember-power-select-selected-item {{if allowClear "has-clear" ""}}">{{yield select.selected select}}</span>
    {{/if}}
  {{else}}
    {{#if (and allowNull (not search))}}
      <span class="ember-power-select-placeholder">{{allowNullLabel}}</span>
    {{else}}
      {{component placeholderComponent placeholder=placeholder}}
    {{/if}}
  {{/if}}
{{/if}}

{{#if labelText}}
  <span id="ember-power-select-trigger-label-{{select.uniqueId}}" class="screen-reader-only" aria-hidden="true">
    {{#if select.selected}}
      {{concat (if searchField (get select.selected searchField) select.selected) ", " labelText}}
    {{else}}
      {{labelText}}
    {{/if}}
  </span>
{{/if}}

{{#if statusIcon}}
  <span class="ember-power-select-custom-status-icon">
    {{svg-jar statusIcon class="ember-svg size-16" role="presentation"}}
  </span>
{{else}}
  <span class="ember-power-select-status-icon" role="presentation"></span>
{{/if}}