{{#if 
  (or 
    (and searchEnabled (not selectedItemComponent) (not allowRenderLikeSIC))
    (and select.isOpen searchEnabled (or allowRenderLikeSIC selectedItemComponent))
  )
}}
  {{#component "power-select/search-input"
    searchValue=searchValue
    searchEnabled=searchEnabled
    listboxId=listboxId
    allowCreateOnBlur=allowCreateOnBlur
    ariaActivedescendant=ariaActivedescendant
    searchPlaceholder=searchPlaceholder
    placeholder=placeholder
    labelText=labelText
    select=select
    errorId=errorId
    onInput=onInput
    onFocus=onFocus
    onBlur=onBlur
    hasSIC=hasSIC
    fieldId=fieldId
    allowNull=allowNull
    allowNullLabel=allowNullLabel
    ariaDescribedBy=ariaDescribedBy
    ariaLabel=ariaLabel
    ariaLabelledBy=ariaLabelledBy
    selectedItemComponent=selectedItemComponent
    ariaLabelledById=ariaLabelledById
    ariaRequired=ariaRequired
    tabindex=tabindex}}
  {{/component}}

  {{#if (and select.selected (not selectedItemComponent))}}
    <span class="ember-power-select-selected-item screen-reader-only" aria-hidden="true">
      {{#if searchField}}
        {{get select.selected searchField}}
      {{else}}
        {{yield select.selected select}}
      {{/if}}
    </span>
  {{/if}}
{{else}}
  {{#if select.selected}}
    {{#if selectedItemComponent}}
      {{component selectedItemComponent searchEnabled=searchEnabled extra=(readonly extra) option=(readonly select.selected) select=(readonly select)}}
    {{else}}
      <span class="ember-power-select-selected-item {{if allowClear "has-clear" ""}}">{{yield select.selected select}}</span>
    {{/if}}
  {{else}}
    {{#if (and allowNull (not search))}}
      <span class="ember-power-select-placeholder">{{allowNullLabel}}</span>
    {{else}}
      {{component placeholderComponent placeholder=placeholder}}
    {{/if}}
  {{/if}}
{{/if}}

{{#if (and labelText (not fieldId))}}
  <span id={{ariaLabelledById}} class="screen-reader-only" aria-hidden="true">
    {{#if (and searchEnabled (not selectedItemComponent) (not allowRenderLikeSIC))}}
      {{labelText}}
    {{else}}
      {{#if select.selected}}
        {{#if searchField}}
          {{concat (get select.selected searchField) ", " labelText}}
        {{else}}
          {{yield select.selected select}} {{concat ", " labelText}}
        {{/if}}
      {{else}}
        {{labelText}}
      {{/if}}
    {{/if}}
  </span>
{{/if}}

{{#if statusIcon}}
  <span class="ember-power-select-custom-status-icon">
    {{svg-jar statusIcon class="ember-svg size-16" role="presentation"}}
  </span>
{{else}}
  <span class="ember-power-select-status-icon" role="presentation"></span>
{{/if}}